body {
    font-family: "battery-park", sans-serif;
font-weight: 400;
font-style: normal;
animation: bgcolor-ani 10s linear infinite;
width: 100%;
}

@keyframes bgcolor-ani {
    0% {
        background-color: #ff0000;
    }
    25% {
        background-color: #00ff00;
    }
    50% {
        background-color: #0000ff;
    }
    75% {
        background-color: #ffff00;
    }
    100% {
        background-color: #ff0000;
    }
}

h1 {
    font-size: 150px;
    text-align: center;
}

.text {
    font-size: 60px;
    text-align: center;
}

.soon {
    animation: soon-ani 5s linear infinite;
}

@keyframes soon-ani {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.cover img {
    object-fit: contain;
    width: 500px;
    height: 500px;
    background-color: #f0f0f0;
    border: 5px solid #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    animation: coverimg-ani 5s linear infinite;
}

audio {
    display: block;
    margin: 20px auto;
    align-items: center;
    border: 5px solid #000000;
    border-radius: 50px;
}

@keyframes coverimg-ani {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 180deg;
    }
    100% {
        rotate: 360deg;
    }
}